<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/strona-glowna.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/404.css')}}">
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<style>
  .header-search{
    display: none !important;
  }
</style>
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="content">
            <div class="container">
                <div class="copy-container center-xy">
                  <p class="errorcode">
                    404
                  </p>
                  <p class="errorinfo">
                      Ta strona nie została znaleziona
                  </p>
                </div>
              </div> 
        </div>
    </div>
{% endblock %}
