<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<script src="{{ url_for('static', filename='js/shop.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/sklep.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="sklep">
            <div class="usluga">
                <h1 class="tytul">VIP</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p>Rodzaje usługi: </p>
                    <ul class="uslugi">
                        <li class="uslugi">14 dni</li>
                        <li class="uslugi">31 dni</li>
                        <li class="uslugi">Na zawsze</li>
                    </ul>
                </div>
                <a href="sklep/vip" class="kup">KUP</a>
            </div>
            <div class="usluga">
                <h1 class="tytul">SVIP</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p>Rodzaje usługi: </p>
                    <ul class="uslugi">
                        <li class="uslugi">14 dni</li>
                        <li class="uslugi">31 dni</li>
                        <li class="uslugi">Na zawsze</li>
                    </ul>
                </div>
                <a href="#" class="kup">KUP</a>
            </div>
            <div class="usluga">
                <h1 class="tytul">MADCOINSY</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p id="ilosc">Ilość: 5 </p>
                    <input type="range" min="5" max="200" step="5" value="5" name="ilosc" id="ilosc-range" onchange="shownumber(this.value)">
                </div>
                <a href="#" class="kup">KUP</a>
            </div>
        </div>
    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e7b235" fill-opacity="1" d="M0,224L24,197.3C48,171,96,117,144,117.3C192,117,240,171,288,192C336,213,384,203,432,165.3C480,128,528,64,576,80C624,96,672,192,720,192C768,192,816,96,864,85.3C912,75,960,149,1008,192C1056,235,1104,245,1152,208C1200,171,1248,85,1296,74.7C1344,64,1392,128,1416,160L1440,192L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
      </svg>
{% endblock %}

