<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<script src="{{ url_for('static', filename='js/shop.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/sklep.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="sklep">
            <div class="usluga">
                <h1 class="tytul">VIP</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p>Rodzaje usługi: </p>
                    <ul class="uslugi">
                        <li class="uslugi">14 dni</li>
                        <li class="uslugi">31 dni</li>
                        <li class="uslugi">Na zawsze</li>
                    </ul>
                </div>
                <a href="sklep/vip" class="kup">KUP</a>
            </div>
            <div class="usluga">
                <h1 class="tytul">SVIP</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p>Rodzaje usługi: </p>
                    <ul class="uslugi">
                        <li class="uslugi">14 dni</li>
                        <li class="uslugi">31 dni</li>
                        <li class="uslugi">Na zawsze</li>
                    </ul>
                </div>
                <a href="#" class="kup">KUP</a>
            </div>
            <div class="usluga">
                <h1 class="tytul">MADCOINSY</h1>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris nulla, euismod eget tincidunt sit amet, auctor tristique metus.</p>
                <div class="rodzaje">
                    <p id="ilosc">Ilość: 5 </p>
                    <input type="range" min="5" max="200" step="5" value="5" name="ilosc" id="ilosc-range" onchange="shownumber(this.value)">
                </div>
                <a href="#" class="kup">KUP</a>
            </div>
        </div>
    </div>
{% endblock %}

