{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/statystyki.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/404.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="content">
            {% if numrows == 0%}
                <div class="container">
                    <div class="copy-container center-xy">
                      <p class="errorcodenick">
                        <b>{{usr}}</b>
                      </p>
                      <p class="errorinfonick">
                          Ten gracz nigdy nie był na naszym serwerze. Napewno wpisałeś dobrze nick?
                      </p>
                    </div>
                </div>
            {% else %}
            {% for row in jpremium %}
            <img src="https://mc-heads.net/avatar/{{skiny}}" class="image">
            <h2>{{row.lastNickname}}</h2>
            {%endfor%}
            <p class="naglowek">Statystyki</p>
            <table>
                <tr>
                    <td class="nazwa_statystyki">Postawione bloki</td>
                    <td class="wartosc_statystyki">{{block_placevalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Zniszczone bloki</td>
                    <td class="wartosc_statystyki">{{block_breakvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Zabite potwory</td>
                    <td class="wartosc_statystyki">{{mob_killvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Otrzymany damage</td>
                    <td class="wartosc_statystyki">{{damage_takenvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość trade'ów z villagerami</td>
                    <td class="wartosc_statystyki">{{villager_tradesvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Zabitych graczy</td>
                    <td class="wartosc_statystyki">{{kills_playersvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość zniszczonych narzędzi</td>
                    <td class="wartosc_statystyki">{{tools_brokenvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość wystrzelonych strzał</td>
                    <td class="wartosc_statystyki">{{arrows_shotvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Wypełnione wiadra</td>
                    <td class="wartosc_statystyki">{{buckets_filledvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Opróżnione wiadra</td>
                    <td class="wartosc_statystyki">{{buckets_emptiedvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość użytych komend</td>
                    <td class="wartosc_statystyki">{{commands_performedvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość zrobionych rzeczy</td>
                    <td class="wartosc_statystyki">{{items_craftedvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość śmierci</td>
                    <td class="wartosc_statystyki">{{deathsvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość zjedzonego jedzenia</td>
                    <td class="wartosc_statystyki">{{food_eatenvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość wyrzuconych przedmiotów</td>
                    <td class="wartosc_statystyki">{{items_droppedvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość podniesionych przedmiotów</td>
                    <td class="wartosc_statystyki">{{items_picked_upvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Przebyty dystans (m)</td>
                    <td class="wartosc_statystyki">{{distance_travelledvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Rzucone jaja</td>
                    <td class="wartosc_statystyki">{{eggs_thrownvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość interakcji z łózkiem</td>
                    <td class="wartosc_statystyki">{{entered_bedsvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Ilość dołączeń na serwer</td>
                    <td class="wartosc_statystyki">{{joinsvalid}}</td>
                </tr>
                <tr>
                    <td class="nazwa_statystyki">Zebrany XP</td>
                    <td class="wartosc_statystyki">{{xp_gainedvalid}}</td>
                </tr>
            </table>
            {%endif%}
        </div>

    </div>
{% endblock %}