<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/copyip.js')}}"></script>
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<script src="{{ url_for('static', filename='js/topki.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/topki.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="wybor">
            <a href="javascript:void(0)" class="wybor1" onclick="zabojstwa()"><i class="fa-solid fa-skull menu1 aktywny"></i></a>
            <a href="javascript:void(0)" class="wybor3" onclick="smierci()"><i class="fa-solid fa-face-dizzy menu3 "></i></a>
        </div>
        <div class="topka1">
            <h1 class="topname">ZABÓJSTWA</h1>
            <table class="statystyki">
                <thead>
                    <tr>
                        <th>MIEJSCE</th>
                        <th>NICK</th>
                        <th>ZABÓJSTWA</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in topki%}
                        <tr>
                            <td class="index">{{loop.index}}</td>
                            
                                <td><div class="kratka"><img src="https://mc-heads.net/avatar/{{row.name}}" alt="">{{row.name}}</div></td>
                            
                            <td><div class="kratkavalue">{{row.kills}}</div></td>
                        </tr>
                    {%endfor%}
                </tbody>
          </table>
        </div>
        <div class="topka3 schowany">
            <h1 class="topname">ŚMIERCI</h1>
            <table class="statystyki">
                <thead>
                    <tr>
                        <th>MIEJSCE</th>
                        <th>NICK</th>
                        <th>ŚMIERCI</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in topki3%}
                        <tr>
                            <td class="index">{{loop.index}}</td>
                            
                                <td><div class="kratka"><img src="https://mc-heads.net/avatar/{{row.name}}" alt="">{{row.name}}</div></td>
                            
                            <td><div class="kratkavalue">{{row.deaths}}</div></td>
                        </tr>
                    {%endfor%}
                </tbody>
          </table>
        </div>
    </div>
{% endblock %}

