<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/copyip.js')}}"></script>
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<script src="{{ url_for('static', filename='js/topki.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/topki.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="topka1">
            <a href="javascript:void(0)" class="wybor1" onclick="zabojstwa()"><i class="fa-solid fa-skull menu1 aktywny"></i></a>
            <a href="javascript:void(0)" class="wybor3" onclick="smierci()"><i class="fa-solid fa-face-dizzy menu3 "></i></a>
            <h1 class="topname">ZABÓJSTWA</h1>
            <table class="statystyki">
                <thead>
                    <tr>
                        <th>MIEJSCE</th>
                        <th>NICK</th>
                        <th>ZABÓJSTWA</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in topki%}
                        <tr>
                            <td class="index">{{loop.index}}</td>
                            
                                <td><div class="kratka"><img src="https://mc-heads.net/avatar/{{row.name}}" alt="">{{row.name}}</div></td>
                            
                            <td><div class="kratkavalue">{{row.kills}}</div></td>
                        </tr>
                    {%endfor%}
                </tbody>
          </table>
        </div>
        <div class="topka3 schowany">
            <a href="javascript:void(0)" class="wybor1" onclick="zabojstwa()"><i class="fa-solid fa-skull menu1"></i></a>
            <a href="javascript:void(0)" class="wybor3" onclick="smierci()"><i class="fa-solid fa-face-dizzy menu3"></i></a>
            <h1 class="topname">ŚMIERCI</h1>
            <table class="statystyki">
                <thead>
                    <tr>
                        <th>MIEJSCE</th>
                        <th>NICK</th>
                        <th>ŚMIERCI</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in topki3%}
                        <tr>
                            <td class="index">{{loop.index}}</td>
                            
                                <td><div class="kratka"><img src="https://mc-heads.net/avatar/{{row.name}}" alt="">{{row.name}}</div></td>
                            
                            <td><div class="kratkavalue">{{row.deaths}}</div></td>
                        </tr>
                    {%endfor%}
                </tbody>
          </table>
        </div>
    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e7b235" fill-opacity="1" d="M0,224L24,197.3C48,171,96,117,144,117.3C192,117,240,171,288,192C336,213,384,203,432,165.3C480,128,528,64,576,80C624,96,672,192,720,192C768,192,816,96,864,85.3C912,75,960,149,1008,192C1056,235,1104,245,1152,208C1200,171,1248,85,1296,74.7C1344,64,1392,128,1416,160L1440,192L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
      </svg>
{% endblock %}

