<!-- 
Code by rvyk
Discord: rvyk#4848 
-->

{% extends 'base.html' %}

{%block addons%}
<script src="{{ url_for('static', filename='js/copyip.js')}}"></script>
<script src="{{ url_for('static', filename='js/scrollup.js')}}"></script>
<script src="{{ url_for('static', filename='js/statystyki.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation-bar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/strona-glowna.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/404.css')}}">
{%endblock%}

{% block title %}
MADCORE.PL
{% endblock %}

{% block content %}
    <a href="#" class="scrollup"><i class="fa-solid fa-circle-arrow-up"></i></a>
    <div class="banner">
        <div class="content">
            {% if numrows == 0%}
                <div class="container">
                    <div class="copy-container center-xy">
                      <p class="errorcodenick">
                        <b>{{usr}}</b>
                      </p>
                      <p class="errorinfonick">
                          Ten gracz nigdy nie był na naszym serwerze. Napewno wpisałeś dobrze nick?
                      </p>
                    </div>
                </div> 
                <!-- <h2>Error</h2> -->
                <!-- <p>Gracz o nazwie <b>{{usr}}</b> nigdy nie był na naszym serwerze, więc nie możemy wyświelić dla niego żadnych statystyk.</p> -->
            {%else%}
            {% for row in jpremium %}
            <h2>{{row.lastNickname}}</h2>
            <table class="statystyki">
                  <tr>
                    <th>Data rejestracji:</td>
                    <td class="liczba">{{row.firstSeen}}</td>
                  </tr>
                  <tr>
                    <th>Ostatnio online:</td>
                    <td class="liczba">{{row.lastSeen}}</td>
                  </tr>
            {%endfor%}
                  <tr>
                    <th>Ranga:</td>
                    <td class="liczba">{{ranga}}</td>
                  </tr>
                  <tr>
                    <th>UUID:</td>
                    <td class="liczba">{{uuid}}</td>
                  </tr>
                  <tr>
                    <th>Czas gry:</td>
                    <td class="liczba">{{play_time}}</td>
                  </tr>
            </table>
            {% for row in jpremium %}
            <a href="javascript:void(0);" class="more" onclick="zmiana('{{row.lastNickname}}')">Więcej statystyk</a>
            {%endfor%}
            {%endif%}
            
        </div>
        {%if numrows > 0%}
        <img src="https://mc-heads.net/avatar/{{skiny}}" height="200" width="200" class="image">
        {%endif%}
    </div>
{% endblock %}
