.footer{
    font-family: 'Segoe UI';
    font-weight: 400;
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
    transition: 0.2s linear;
}
.footer.dark{
    background-color: #1d1f25;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}

.footer .social a{
    font-size: 24px;
    color: #000;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.2s linear;
    opacity: 0.8;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}
.footer .social a.dark{
    text-shadow: 0 0 4px rgb(255, 255, 255);
    color: #fff;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: #000000;
    text-decoration: none;
    transition: 0.2s linear;
    opacity: 0.8;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}
.footer ul li a.dark{
    color: #fff;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    transition: 0.2s linear;
}
.copyright.dark{
    text-shadow: 0 0 4px rgb(0, 0, 0);
    color: #fff;
}


